[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Thermimage"]
	path = Thermimage
	url = https://github.com/gtatters/thermimage
